@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: "Montserrat", serif;   
}
.background{
    background-image: url('./imgs/3.jpg');
    background-size: cover;         /* Ensures the image covers the element */
    background-position: center;    /* Centers the image */
    background-repeat: no-repeat;
}
#date{
    font-family: "Rubik", sans-serif;
}